    <header class="header">
        <nav class="navbar">
            <div class="navbar__img">      
                <img src="776891-200.png" alt="">
            </div>
            <h1 class="navbar__title">.monstera</h1>
        </nav>
    </header>